ul {
    list-style: none;
}
.menu {
    position: absolute;
    background-color: white;
    width: 100px;   
    z-index: 9999; 
}
.menu li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.menu li:last-child {
    border: none;
}
.board-menu {
    width: 150px;
}
.postIt-menu {
    width: 200px;
}
.menu input {
    width: 20px;
}