:root {
    font-size: 12px;
}
* {
    margin: 0;
    padding: 0;    
}
#app {
    position: relative;
    height: 100vh;
    width: 100vw;
    min-width: 800px;
    min-height: 600px;
}
.postit {    
    width: 250px;
    height: 200px;
    background-color: yellow;
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 300px;
    font-family: "Nanum Pen Script", cursive;
}
.postit:hover {
    cursor: move;
}
.postit header {
    height: 15px;
    display: flex;
    /* border-bottom: 1px solid #eee; */
} 
.postit [data-target="foldAndUnfold"] {
    margin-left: auto;
}
.postit .fold::after {
    content: "▲"
}
.postit .unfold::after {
    content: "▼"
}
.postit header span {
    margin-right: 5px;
    cursor: pointer;
}
.postit textarea {
    flex: 1;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    font-family: inherit;
}
.yellow {
    background-color: #fafad6;
}
.yellow-header {
    background-color: #fdfd93;
}
.orange {
    background-color: #fad4ae;
}
.red {
    background-color: #fdafab;
}
.red-header {
    background-color: #ff948f;
}
.pink {
    background-color: #fadee1;
}
.blue {
    background-color: #b6e4e9;
}
.blue-header {
    background-color: #92e3ec;
}
